/* COMMON */
.body__container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
a {
    text-decoration: none;
}

/* 전역 속성 - 버튼 */
.btn {
    height: 34px;
    background: #eee linear-gradienr(to bottom, #fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    color: #333;
}
.btn:hover::before {
    content: "";    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.07);
}
.btn.btn--primary {
    border: 1px solid #65b836;
    color: #fff;
    background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

/* 전역 INPUT TEXT*/
.input--text {
    height: 34px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    /* 포커스시 테두리 제거 */
    outline: none;
    /* inset 속성은 박스 안쪽으로 그림자 생기도록 해줌 */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    font-size: 16px;
}
.input--text:focus {
    border-color: #51a7e8;
    /* 쉼표를 통해 다중 그림자 사용 가능 */
    /* 포커스 되어도 이전 그림자를 유지하고 싶으면 위의 inset부분 같이 사용 */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 
                0 0 5px rgba(81, 167, 232, 0.5);
}
/* Vender Prefix (브라우저 업체별 접두사) */
.input--text::-webkit-input-placeholder {
    /* 크롬 */
    color: #cacaca;
}
.input--text::-webkit-input-placeholder {
    /* ms사 엣지, 인터넷 익스플로러 */
    color: #cacaca;
}
.input--text::-moz-input-placeholder {
    /* 모질라 */
    color: #cacaca;
}

/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: both;
}
.float--left {
    float: left;
}
.float--right {
    float: right;
}

/* SUMMARY */
.summary {
    
}
.summary__title {
    font-size: 38px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 10px;
}
.summary__description {
    font-size: 26px;
    font-weight: 300;
    color: #767676;
    line-height: 1.5;
}

/* SECTION & INNER */
.section {
    position: relative;
}
.section .inner {
    max-width: 980px;
    margin: 0 auto;
    /* padding이 들어갔거나 border가 들어갔을때 박스 사이즈가 변화하는것 방지 */
    box-sizing: border-box;
    position: relative;
}

/* HEADER */
header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    /* 브라우저마다 color 해석이 조금씩 다를 수 있기 때문에 hex로 작성해주는것이 좋음 */
    background: #fff
}
header .inner {
    /* inner 공통화 */
    /* inner 가운대 정렬 */
    /* margin: 0 auto를 사용하기 위해서는 기본적인 width 정해주어야 사용 가능 */
    /* max-width: 980px;
    margin: 0 auto; */
    height: 78px;
}
/* .inner는 정렬용이므로 꼭 모든 속성을 다 타고 내려갈 필요는 없음 */
header .menu-group {
    display: flex;
    align-items: center;
    /* inner의 높이의 100%만큼 사용 */
    height: 100%;
}
header .logo {
    margin-right: 10px;
}
header .logo a {
    background: url("../img/logo.svg");
    width: 32px;
    height: 32px;
    /* 이미지도 inline요소이므로 block으로 변경해주어야 w,h 속성 적용 가능 */
    display: block;
    /* 로고부분에 img 태그를 이용한 것이 아닌 css를 활용하여 background로 넣어줌 */
    /* 아때 어떤 로고를 사용했는지 알려주기 위해 a 태그의 text를 지우는 것이 아닌 text-indent를 활용하여 글자를 지워주는 방식 활용 */
    text-indent: -9999px;
}
header .logo a:hover {
    background: url("../img/logo_on.svg");
}
header .main-menu {
    display: flex;
}
header .main-menu li a {
    /* a태그는 기본적으로 인라인태그이므로 block로 변경 */
    display: block;
    /* margin-right만 주면 선택하는 창 크기가 작아지므로 */
    /* margin-right: 10px; */
    /* padding 이용 */
    padding: 10px;
    color: #3c4146;
}
header .main-menu li a:hover {
    color: #4078c0;
}
header .sign-group {
    display: flex;
    align-items: center;
    height: 100%;
}
header .btn-group {
    order: 2;
    /* a태그로 인한 space를 없애주기 위해 사용 */
    display: flex;
}
header .btn-group .sign-in {
    margin-right: 4px;
}
/* id 선택자는 그냥 선택자만 작성하면 됌 */
#search-form {
    order: 1;
    margin-right: 12px;
}
#search {
    width: 160px;
    font-size: 14px;
}
/* id값이 search인 요소에서 다음 형제 요소이고 type="submit"인 요소 */
#search + [type="submit"] {
    display: none;
}
header .sub-menu {
    /* order: 0은 기본값이므로 생략 가능 */
    display: flex;
    margin-right: 10px;
}
header .sub-menu li a {
    display: block;
    padding: 8px;
    font-size: 13px;
    color: #3c4146;
}
header .sub-menu li a:hover {
    color: #4078c8;
}


/* VISUAL */
.section--visual {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
    /* 사이즈가 어떻게 되던 해당 백그라운드 전체를 커버 */
    background-size: cover;
}
/* visual의 배경색을 조금 어둡게 만들기 */
.section--visual::before {
    content: "";
    position: absolute;
    /* top, left, right, bottom 모두 0으로 작성하면 section 완벽 커버 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* section 완벽하게 덮기 */
    /* width: 100%;
    height: 100%; */
    background: rgba(0,0,0,.3);
}
.section--visual .inner {
    /* 자주 사용하므로 공통화 */
    /* max-width: 980px;
    margin: 0 auto; */
    padding: 160px 0;
    display: flex;
}
/* 텍스트가 너무 커 form 약식이 밀리는 것을 해결 */
.section--visual .summary {
    /* 가변 영역으로 공간을 차지하게 하기 위해 flex-grow 설정 */
    flex-grow: 1;
    /* flex-basis가 auto인 기본값으로 되어있어서 생기는 문제 */
    /* 0으로 설정하면 다시 쪼그라듬 */
    flex-basis: 0;
    /* 합쳐서 flex: 1로 표현 가능 */
    /* flex: 1; */
    margin-right: 90px;
}
.section--visual .summary__title {
    color: #fff;
    font-size: 54px;
    /* 글자에 그림자 추가 text-shadow: x, y, blur, */
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25), 
                 0 1px 25px rgba(0, 0, 0, .75);
}
.section--visual .summary__description {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25), 
                 0 1px 25px rgba(0, 0, 0, .75);
}
#sign-form {
    width: 340px;
    margin-top: 16px;
}
#sign-form li {
    margin-bottom: 17px;
}
#sign-form li:last-child {
    margin-bottom: 0;
}
#sign-form .input--text {
    width: 100%;
    height: 40px;
}
#sign-form .caption {
    font-size: 12px;
    margin-top: 5px;
    color: rgba(255,255,255,.6);
    line-height: 1.5;
    text-align: center;
}
#sign-form [type="submit"] {
    width: 100%;
    height: 62px;
    padding: 0 25px;
    font-size: 20px;
    /* inline-flex 요소로 인해 적용 안됨 */
    /* text-align: center; */
    /* justify-content를 이용해 수평정렬 */
    justify-content: center;
}